{% extends 'base.html.twig' %}

{% block body %}
    <h1>Valeur X : {{ x }}</h1>
    <h1>Valeur Y : {{ y }}</h1>
    <h1>Tile exists : {{ dump(exists) }}</h1>
<h1>OUTSIDE the Map Test : {{ dump(outsideMap) }}</h1>

{% endblock %}